target
work

# IntelliJ project files 
*.iml
*.ipr
*.iws
.idea

# eclipse project file
.settings
.classpath
.project
build

webapp/src/main/resources/cloudbees-ca-private-key.pem
webapp/src/main/resources/cloudbees-cacert.pem

